<div class="container" app-keyboard-events>
  <div class="top">
    <h1 class="title">
      JS Piano
      <small>Web Audio API</small>
    </h1>
    <div class="controls">
      <app-waveform-select (onChange)="selectWaveForm($event)"></app-waveform-select>
      <button
        type="button"
        class="btn"
        [ngClass]="{ active: song.isPlaying }"
        (click)="toggleDemoSong()">
        <i class="fa" [ngClass]="song.isPlaying ? 'fa-stop' : 'fa-play'"></i>
      </button>
    </div>
  </div>
  <app-keyboard [notes]="notes" (onClick)="handleKeyboardClicks()"></app-keyboard>
  <div class="clearfix"></div>
  <div class="instructions" [ngClass]="{ show: showInstructions }">
    Use your keyboard to play notes
  </div>
</div>
